
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Resume</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/website/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="/website/css/dark.css" />
    <link rel="stylesheet" type="text/css" href="/website/css/style.css" />
    <!--[if lt IE 9]> <script type="text/javascript" src="/website/js/modernizr.custom.js"></script> <![endif]-->

</head>

<body class="dark">

    <div id="preloader">
        <div class="loader_line"></div>
    </div>


    <div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit>

        <div class="tokyo_tm_topbar">
            <div class="topbar_inner">
                <div class="logo" data-type="image">
                </div>
                <div class="trigger">
                    <div class="hamburger hamburger--slider">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tokyo_tm_mobile_menu">
            <div class="menu_list">
                <ul class="transition_link">
                    <li class="active"><a href="#home">خانه</a></li>
                    <li><a href="#about">درباره من</a></li>
                    <li><a href="#contact">تماس با من</a></li>
                </ul>
            </div>
        </div>


        <div class="leftpart">
            <div class="leftpart_inner">
                <div class="logo" data-type="image">
                </div>
                <div class="menu">
                    <ul class="transition_link">
                        <li class="active"><a href="#home">خانه</a></li>
                        <li><a href="#about">درباره من</a></li>
                        <li><a href="#contact">تماس با من</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="rightpart">
            <div class="rightpart_in">

                <div id="home" class="tokyo_tm_section animated">
                    <div class="container">
                        <div class="tokyo_tm_home">
                            <div class="home_content">
                                <div class="avatar" data-type="wave">
                                    <div class="image" data-img-url="/website/img/slider/2.jpg"></div>
                                </div>
                                <div class="details">
                                    <h3 class="name"> سلام</h3>
                                    <p class="job">من یک توسعه دهنده بک اند هستم که دارم کارآموزی خودم رو میگذرونم.  این سایت هم صرفا برای تمرین هست.</p>
                                    <p class="job">در ادامه بیشتر با من آشنا میشین :)</p>
                                    <div class="social">
                                        <ul>
                                            <li><a href="https://telegram.me/Mstfa_mb"><i class="icon-telegram"></i></a></li>
                                            <li><a href="https://github.com/Mostafa-mb"><i class="icon-github-circled-3"></i></a></li>
                                            <li><a href="https://instagram.com/_mostafa.mb_?igshid=MzRlODBiNWFlZA=="><i class="icon-instagram-3"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/mostafa-mobasher-b0b09a290"><i class="icon-linkedin-squared"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="about" class="tokyo_tm_section">
                    <div class="container">
                        <div class="tokyo_tm_about">
                            <div class="tokyo_tm_title">
                                <div class="title_flex">
                                    <div class="left">
                                        <span>درباره من</span>
                                        <h3>درباره من</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="top_author_image">
                                <img src="/website/img/slider/3.png" alt />
                            </div>
                            <div class="about_title">
                                <h3>مصطفی مباشر</h3>
                                <span>ASP.NET developer</span>
                            </div>
                            <div class="about_text">
                                <p>
                                    من مصطفی هستم. یک asp.net کار تازه وارد که آموزش هاشو دو ماهه شروع کرده.
                                    هدف از این سایت اینه که بتونم یک رزومه مناسبی برای خودم درست کنم و پله پله با آموزش بتونم اطلاعاتمو بیشتر کنم.
                                </p>
                                <p>
                                    از انتهای تیر ماه سال 1402 در بوتکمپ asp.net دانشکار شرکت کردم و تا الان دو ماه از این دوره میگذره. از ابتدا تا الان کلاس های متنوعی برگذار شده و یک فضای کاری خوبی میون اعضای دوره برقرار شده. به نظرم این دوره میتونه خیلی جالب باشه.
                                </p>
                                <p>
                                    در حال حاضر هم دارم تو رشته انرژی دانشگاه علم و صنعت تحصیل میکنم و روی موضوع بهینه سازی باتری خودروها با استفاده از هوش مصنوعی کار میکنم. ممکنه بگین چه ربطی به asp.net داره؟

                                </p>
                                <p>
                                    خب درست میگین. ارتباطی ندارن ولی هردوشون رو دوست دارم و میخوام هردوشون رو یاد بگیرم :)
                                </p>
                            </div>
                            <div class="tokyo_tm_short_info">
                                <div class="left">
                                    <div class="tokyo_tm_info">
                                        <ul>
                                            <li><span>روز تولد:</span><span>15 تیر 1378</span></li>
                                            <li><span>سن:</span><span>24</span></li>
                                            <li><span>محل سکونت:</span><span>خراسان رضوی ، مشهد</span></li>
                                            <li><span>پست
                                                    الکترونیک:
                                                </span><span><a><span>mobashermostafa@gmail.com</span></a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="tokyo_tm_info">
                                        <ul>
                                            <li><span>ملیت:</span><span>ایران</span></li>
                                            <li><span>دانشگاه:</span><span>دانشگاه علم و صنعت ایران<span></li>
                                            <li><span>درجه:</span><span>کارشناسی ارشد</span></li>
                                            <li><span>علاقه:</span><span>فوتبال و برنامه نویسی</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tokyo_tm_progressbox">
                        <div class="container">
                            <div class="in">
                                <div class="left">
                                    <div class="tokyo_section_title">
                                        <h3>مهارت برنامه نویسی</h3>
                                    </div>
                                    <div class="tokyo_progress">
                                        <div class="progress_inner" data-value="40">
                                            <span><span class="label">python</span><span
                                                    class="number">40%</span></span>
                                            <div class="background">
                                                <div class="bar">
                                                    <div class="bar_in"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress_inner" data-value="20">
                                            <span><span class="label">ASP.NET</span><span
                                                    class="number">20%</span></span>
                                            <div class="background">
                                                <div class="bar">
                                                    <div class="bar_in"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress_inner" data-value="30">
                                            <span><span class="label">C#</span><span
                                                    class="number">30%</span></span>
                                            <div class="background">
                                                <div class="bar">
                                                    <div class="bar_in"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="tokyo_section_title">
                                        <h3>توانایی های زبانی</h3>
                                    </div>
                                    <div class="tokyo_progress">
                                        <div class="progress_inner" data-value="90">
                                            <span><span class="label">انگلیسی</span><span
                                                    class="number">70%</span></span>
                                            <div class="background">
                                                <div class="bar">
                                                    <div class="bar_in"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tokyo_tm_skillbox">
                        <div class="container">
                            <div class="in">
                                <div class="left">
                                    <div class="tokyo_section_title">
                                        <h3>مهارت ها</h3>
                                    </div>
                                    <div class="tokyo_tm_skill_list">
                                        <ul>
                                            <li>
                                                <span><img class="svg" src="/website/img/svg/rightarrow.svg" alt />Catia</span>
                                            </li>
                                            <li>
                                                <span><img class="svg" src="/website/img/svg/rightarrow.svg" alt />Ansys APDL</span>
                                            </li>
                                            <li>
                                                <span><img class="svg" src="/website/img/svg/rightarrow.svg" alt />Machine learning</span>
                                            </li>
                                            <li>
                                                <span><img class="svg" src="/website/img/svg/rightarrow.svg" alt />Entity framework</span>
                                            </li>
                                            <li>
                                                <span><img class="svg" src="/website/img/svg/rightarrow.svg" alt />GIT</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tokyo_tm_resumebox">
                        <div class="container">
                            <div class="in">
                                <div class="left">
                                    <div class="tokyo_section_title">
                                        <h3>تحصیلات</h3>
                                    </div>
                                    <div class="tokyo_tm_resume_list">
                                        <ul>
                                            <li>
                                                <div class="list_inner">
                                                    <div class="time">
                                                        <span>1401 - تا الان</span>
                                                    </div>
                                                    <div class="place">
                                                        <h3>دانشگاه علم و صنعت ایران</h3>
                                                        <span>کارشناسی ارشد</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list_inner">
                                                    <div class="time">
                                                        <span>1396 - 1401</span>
                                                    </div>
                                                    <div class="place">
                                                        <h3>دانشگاه صنعتی بیرجند</h3>
                                                        <span>کارشناسی</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="contact" class="tokyo_tm_section">
                    <div class="container">
                        <div class="tokyo_tm_contact">
                            <div class="tokyo_tm_title">
                                <div class="title_flex">
                                    <div class="left">
                                        <h3>
                                            ارتباط با من
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="map_wrap">
                                <p>
                                    میتونین هر انتقاد، نظر یا پیشنهادی که دارین برام بنویسین. مطمئن باشین شنیدن نظراتتون برام هم خوشحال کننده هست و هم سازنده :)
                                </p>
                            </div>
                            <div class="fields">
                                <form action="https://marketifythemes.net/" method="post" class="contact_form"
                                    id="contact_form" autocomplete="off">
                                    <div class="returnmessage"
                                        data-success="Your message has been received, We will contact you soon.">
                                    </div>
                                    <div class="empty_notice"><span>لطفا زمینه های مورد نیاز را پر کنید</span></div>
                                    <div class="first">
                                        <ul>
                                            <li>
                                                <input id="name" type="text" placeholder="نام">
                                            </li>
                                            <li>
                                                <input id="email" type="text" placeholder="پست الکترونیک">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="last">
                                        <textarea id="message" placeholder="پیام"></textarea>
                                    </div>
                                    <div class="tokyo_tm_button" data-position="left">
                                        <a id="send_message" href="#">
                                            <span>ارسال پیام</span>
                                        </a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

    </div>


    <script src="/website/js/jquery.js"></script>
    <!--[if lt IE 10]> <script type="text/javascript" src="/website/js/ie8.js"></script> <![endif]-->
    <script src="/website/js/plugins.js"></script>
    <script src="/website/js/init.js"></script>

</body>

</html>

                        @RenderBody()