@charset "utf-8";

body.dark ::-webkit-input-placeholder {
    color: #fff
}

body.dark :-moz-placeholder {
    color: #fff;
    opacity: 1
}

body.dark ::-moz-placeholder {
    color: #fff;
    opacity: 1
}

body.dark :-ms-input-placeholder {
    color: #fff
}

body.dark ::-ms-input-placeholder {
    color: #fff
}

body.dark ::placeholder {
    color: #fff
}

body.dark #preloader:before, body.dark #preloader:after {
    background-color: #fff
}

body.dark .loader_line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #000;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards
}

body.dark .loader_line:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms
}

body.dark {
    background-color: #34353a;
    color: #bbb
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
    color: #fff
}

body.dark .tokyo_tm_all_wrap .leftpart {
    background-color: #494b50
}

body.dark .tokyo_tm_all_wrap .leftpart .menu ul li a {
    color: #bbb
}

body.dark .tokyo_tm_all_wrap .leftpart .menu ul li a:hover {
    color: #fff
}

body.dark .tokyo_tm_all_wrap .leftpart .menu ul li.active a {
    color: #fff
}

body.dark .tokyo_tm_all_wrap .leftpart .copyright p {
    color: #bbb
}

body.dark .tokyo_tm_all_wrap .leftpart .copyright a {
    color: #bbb
}

body.dark .tokyo_tm_all_wrap .leftpart .copyright a:hover {
    color: #fff
}

body.dark .tokyo_tm_all_wrap .rightpart {
    background-color: #34353a
}

body.dark .tokyo_tm_all_wrap .rightpart_in {
    border-left: none
}

body.dark .tokyo_tm_home .social ul li a {
    color: #fff
}

body.dark .cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 50;
    background-color: #fff;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out
}

body.dark .cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    opacity: .3
}

body.dark .cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 50;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    transition: all .08s ease-out
}

body.dark .cursor-outer.cursor-hover {
    opacity: 0
}

body.dark .tokyo_tm_topbar {
    background-color: #494b50
}

body.dark .hamburger-inner, body.dark .hamburger-inner:after, body.dark .hamburger-inner:before {
    background-color: #fff
}

body.dark .hamburger.is-active .hamburger-inner, body.dark .hamburger.is-active .hamburger-inner:after, body.dark .hamburger.is-active .hamburger-inner:before {
    background-color: #fff
}

body.dark .tokyo_tm_mobile_menu {
    background-color: #494b50
}

body.dark .tokyo_tm_mobile_menu .menu_list ul li a {
    color: #fff
}

body.dark .tokyo_tm_button a {
    background-color: #fff;
    color: #000
}

body.dark .tokyo_tm_about .description .right>ul>li a {
    color: #bbb
}

body.dark .tokyo_tm_about .description .right>ul>li a:hover {
    color: #fff
}

body.dark .tokyo_tm_about .description .right>ul>li span {
    color: #fff
}

body.dark .tokyo_tm_modalbox_about .counter ul li .name {
    color: #bbb
}

body.dark .tokyo_tm_title span {
    background-color: rgba(255, 255, 255, .04);
    color: #959595
}

body.dark .tokyo_tm_portfolio .portfolio_filter ul li a {
    color: #bbb
}

body.dark .tokyo_tm_portfolio .portfolio_filter ul li a:hover {
    color: #fff
}

body.dark .tokyo_tm_news ul li .details .title a {
    color: #fff
}

body.dark .tokyo_tm_news ul li .details .date {
    color: #bbb
}

body.dark .tokyo_tm_news ul li .details .date a {
    color: #bbb
}

body.dark .tokyo_tm_news ul li .details .date a:hover {
    color: #fff
}

body.dark .tokyo_tm_modalbox_news .details .title {
    color: #000
}

body.dark .tokyo_tm_modalbox_news .main_content .descriptions p {
    color: #bbb
}

body.dark .tokyo_tm_modalbox .main_content .descriptions .bigger {
    color: #bbb
}

body.dark .tokyo_tm_contact .fields ul li input {
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff
}

body.dark .tokyo_tm_contact .fields .last textarea {
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff
}

body.dark .tokyo_tm_contact .fields ul li input:focus {
    border: 1px solid #fff
}

body.dark .tokyo_tm_contact .fields .last textarea:focus {
    border: 1px solid #fff;
    color: #fff
}

body.dark .tokyo_tm_news ul li .details {
    background-color: #494b50
}

body.dark .tokyo_tm_news ul li .extra:before {
    background-color: rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_read_more a {
    color: #fff
}

body.dark .tokyo_tm_read_more a span {
    background-color: #494b50
}

body.dark .tokyo_tm_read_more a:before {
    background-color: #fff
}

body.dark .tokyo_tm_news ul li .list_inner {
    box-shadow: none
}

body.dark .tokyo_tm_modalbox_about .box_inner {
    background-color: #34353a
}

body.dark .tokyo_tm_modalbox_about .about_title h3 {
    color: #fff
}

body.dark .progress_inner>span {
    color: #fff
}

body.dark .progress_inner .background {
    background: rgba(255, 255, 255, .09)
}

body.dark .progress_inner .background .bar_in {
    background: #fff
}

body.dark .tokyo_tm_modalbox_about .list_inner {
    border: 1px solid rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_modalbox_about .description_wrap {
    scrollbar-width: thin;
    scrollbar-color: #777 #34353a
}

body.dark .tokyo_tm_modalbox_about .description_wrap:-webkit-scrollbar-track {
    background: #34353a
}

body.dark .tokyo_tm_modalbox_about .description_wrap::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 6px;
    border: 3px solid #34353a
}

body.dark .tokyo_tm_modalbox .description_wrap {
    scrollbar-width: thin;
    scrollbar-color: #777 #34353a
}

body.dark .tokyo_tm_modalbox .description_wrap:-webkit-scrollbar-track {
    background: #34353a
}

body.dark .tokyo_tm_modalbox .description_wrap::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 6px;
    border: 3px solid #34353a
}

body.dark .tokyo_tm_modalbox .box_inner {
    background-color: #34353a
}

body.dark .tokyo_tm_modalbox .main_details .detailbox .first {
    color: #fff
}

body.dark .tokyo_tm_modalbox .main_details .detailbox span a {
    color: #bbb
}

body.dark .tokyo_tm_modalbox .main_details .detailbox span a:hover {
    color: #fff
}

body.dark .tokyo_tm_modalbox .main_details .detailbox .share li a {
    color: #bbb
}

body.dark .tokyo_tm_modalbox .main_details .detailbox .share li a:hover {
    color: #fff
}

body.dark .tokyo_tm_modalbox .main_content .icon i {
    color: #fff
}

body.dark .tokyo_tm_modalbox .date {
    color: #bbb
}

body.dark .tokyo_tm_modalbox .date a {
    color: #bbb
}

body.dark .tokyo_tm_modalbox .date a:hover {
    color: #fff
}

body.dark .tokyo_tm_modalbox .details .extra:before {
    background-color: rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_about .about_title {
    border-bottom-color: rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_about .about_text {
    border-bottom-color: rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_short_info {
    border-bottom-color: rgba(255, 255, 255, .1)
}

body.dark .tokyo_tm_info ul li span:first-child {
    color: #fff
}

body.dark .tokyo_tm_info ul li a {
    color: #bbb
}

body.dark .tokyo_tm_info ul li a:hover {
    color: #fff
}

body.dark .tokyo_tm_progressbox {
    background-color: #494b50
}

body.dark .tokyo_tm_skill_list ul li .svg {
    color: #fff
}

body.dark .tokyo_tm_resumebox {
    background-color: #494b50
}

body.dark .tokyo_tm_resume_list ul li .time span {
    background-color: rgba(255, 255, 255, .05);
    color: #fff
}

body.dark .tokyo_tm_resume_list ul:before {
    background-color: rgba(255, 255, 255, .07)
}

body.dark .tokyo_tm_resume_list ul li:before {
    background-color: #494b50;
    border-color: rgba(255, 255, 255, .2)
}

body.dark .tokyo_tm_testimonials .list ul li .text {
    border-color: #56585c
}

body.dark .tokyo_tm_testimonials .list ul li .text:before {
    border-top-color: #56585c
}

body.dark .tokyo_tm_testimonials .list ul li .text:after {
    border-top-color: #34353a
}

body.dark .tokyo_tm_services .list ul li .list_inner {
    background-color: #494b50;
    border: none
}

body.dark .tokyo_tm_services .list ul li .number {
    background-color: rgba(255, 255, 255, .03);
    color: #fff
}

body.dark .tokyo_tm_services .list ul li .list_inner:hover .number {
    background-color: rgba(255, 255, 255, .08)
}

body.dark .tokyo_tm_services .list ul li .title {
    color: #fff
}

body.dark .tokyo_tm_modalbox .description_wrap:after {
    background-color: #34353a
}

body.dark .tokyo_tm_modalbox .description_wrap:before {
    background-color: #34353a
}

body.dark .tokyo_tm_partners {
    background-color: #494b50
}

body.dark .tokyo_tm_partners .partners_inner {
    border-color: #56585c
}

body.dark .tokyo_tm_partners ul li {
    border-color: #56585c
}

body.dark .tokyo_tm_facts .list ul li .list_inner {
    border-color: #56585c
}

body.dark .tokyo_tm_pricing {
    background-color: #494b50
}

body.dark .tokyo_tm_pricing .list>ul>li .list_inner {
    border-color: rgba(255, 255, 255, .2)
}

body.dark .tokyo_tm_pricing .popular {
    background-color: #fff;
    color: #000
}